* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.rating {
    height         : 100vh;
    display        : flex;
    flex-flow: nowrap row-reverse;
    justify-content: center;
    align-items    : center;
}

.star__icon {
    cursor: pointer;
}

.star__icon.far.fa-star {
    color: rgb(255, 189, 6);
}

.star__icon.fas.fa-star {
    color: rgb(255, 218, 6);
    text-shadow: 1px 1px 6px hsl(49, 90%, 70%),
        -1px -1px 6px hsl(49, 90%, 70%),
        -1px 1px 3px hsl(49, 90%, 70%);

}


i:hover~i,
input:focus~label,
i:hover {
    color: orange;
    text-shadow: 1px 1px 2px hsl(49, 98%, 50%),
        -1px -1px 2px hsl(49, 98%, 50%),
        -1px 1px 2px hsl(49, 98%, 50%);
    cursor: pointer;
}